.app.dark {
   --bg-color: #5a5ae8;
   --inverted-bg-color: #e8e8ea;
   --primary-color: #1df481;
   --secondary-color: #04ff04;
   --inverted-primary-color: #e43131;
   --inverted-secondary-color: #de6e05;
}
